<div class="body-wrapper">
	<section class="album-intro" id="album2">
	
		<div class="song-cover">
			<img src="{{song.img}}">
		</div>
		<div class="song-intro-content">	
			<header >
			<table>
				<tr>
					<td><h2>Song：</h2></td><td><h2>{{song.name}}</h2></td>
				</tr>
				<tr>
					<td><h2>Singer: </h2></td><td><h2>{{song.singer}}</h2></td>
				</tr>
			</table>
					
			</header>
			
		</div>
	
			

	</section>
	<div class="lyric">
		<p>
				This should be lyrics *_*
			</p>
	</div>
	<div class="song-player">
		<nav class="songs">
			<ul>
			<li >							
				<div class="player">						
					<audio src="{{song.music}}" controls="controls"> </audio>					
				</div>				
			</li>		
				
			</ul>
		</nav>
	</div>

</div>